@page "{id:int?}"
@{
    ViewData["Title"] = "Product Detail";
}
@model RookiesFashion.ClientSite.Pages.Products.DetailPageModel;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<div class="container">
    <div id="breadcrumb">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">@Model.product.Product.Name</li>
            </ol>
        </nav>
    </div>
    <div class="RF-detail-container">
        <div class="RF-image-detail">
            <div class="xzoom-container">
                <img class="xzoom thumbails" src="@Model.product?.Product.Thumbnail?.First().Url"
                    xoriginal="@Model.product?.Product.Thumbnail?.First().Url" title="@Model.product?.Product.Thumbnail?.First().ImageName"
                    width="900">
                <div class="xzoom-thumbs">
                    @foreach (var image in Model.product?.Product.Thumbnail)
                    {
                        <a href="@image.Url"><img class="xzoom-gallery xactive" width="80" src="@image.Url"
                            title="@image.ImageName"></a>
                    }
                </div>
            </div>
        </div>
        <div class="RF-infor-detail">
            <div id="name">@Model.product.Product.Name</div>
            <div id="rating">
                <div class="asddd">
                    <div class="rating-stars">
                        @{
                            ratingStars(Model.product.Product.AvgRating);
                        }
                    </div>
                    <div class="rating-value">
                        @Model.product.Product.AvgRating/5
                    </div>
                </div>
                <a class="rating-reviews" href="#RATING_SECTION">
                    <span id="numbers">@Model.product.CountRating.Sum()</span>
                    <span> reviews</span>
                </a>
            </div>
            <hr>
            <div id="color">
                <div class="title">Clolor</div>
                <div class="warpper">
                    @foreach (var item in Model.product.Product.Colors)
                    {
                        <div id="item" data-id="{{this._id}}" data-productid="{{../data._id}}"><img id="image"
                            src="@item.Thumbnail.Url"><span>@item.Name</span></div>
                    }
                </div>
            </div>
            <div id="size">
                <div class="title">Size</div>
                <div class="warpper">
                    @foreach (var item in Model.product.Product.Sizes)
                    {
                        <div id="item" data-id="{{this._id}}" data-productid="{{data._id}}"><span>@item.Name</span></div>
                    }
                </div>
            </div>
            <div id="quantity">
                <div class="title">Quantity</div>
                <div class="warpper">
                    <button class="btn btn-outline-secondary btn-minus"><i class="fa fa-minus"></i></button>
                    <input id="value" type="number" value="0">
                    <button class="btn btn-outline-secondary btn-plus"><i class="fa fa-plus"></i></button>
                </div>
            </div>
            <hr>
            <div class="RF-order-section">
                <div id="price">
                    <div class="warpper">
                        <div id="value">
                            <span id="true"><span id="currency">$</span> @Model.product.Product.Price</span>
                        </div>
                    </div>
                </div>
                <div id="add-cart">
                    <button data-productid="@Model.product.Product.ProductId"><i class="fas fa-cart-plus"></i> Add to
                        cart</button>
                </div>
            </div>
            <hr>
            <div id="infor-bellow">
                <span><i class="fas fa-shipping-fast"></i> Free shipping</span>
                <span><i class="far fa-handshake"></i> Cash On Delevery (COD)</span>
            </div>
            <hr>
            <div id="description">
                <div class="title">Description</div>
                <div class="warpper">
                    @Html.Raw(Model.product.Product.Description)
                </div>
            </div>
        </div>
    </div>
    <hr>
    <a id="RATING_SECTION"></a>
    <div class="row">
        <div class="col-6 ">
            @if(User.Identity.IsAuthenticated){
                <form method="post">
                    <select asp-for="Rating.RatingVal">
                        <option selected>Select a rating</option>
                        <option value="5">Excellent</option>
                        <option value="4">Good</option>
                        <option value="3">Average</option>
                        <option value="2">Terible</option>
                        <option value="1">Poor</option>
                    </select>
                    <input asp-for="Rating.Comment" />
                    <input hidden asp-for="Rating.ProductId" value="@Model.product.Product.ProductId" />
                    <input type="submit" />
                </form>
            }

        </div>
        <div class="col-3">
            <div class="rating-block">
                <h4>Average user rating</h4>
                <h2 class="bold padding-bottom-7">@Model.product.Product.AvgRating <small>/ 5</small></h2>
                @{
                    ratingStars(@Model.product.Product.AvgRating);
                }
            </div>
        </div>
        <div class="col-3">
            <h4>Rating breakdown</h4>
            @for (var i = 4; i >= 0; i--)
            {
                <div class="rating-bar">
                    <div class="pull-left">
                        <div style="height:9px; margin:5px 0;">@(i+1) <span><i class="fas fa-star"></i></span></div>
                    </div>
                    <div class="rating-progress">
                        <div class="progress" style="height:9px; margin:8px 0;">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="@i"
                            aria-valuemin="0" aria-valuemax="5" style="width: @(Model.product.CountPercentage[i])%">
                                <span class="sr-only">@(Model.product.CountPercentage[i])%</span>
                            </div>
                        </div>
                    </div>
                    <div class="pull-right">@(Model.product.CountRating[i])</div>
                </div>
            }
        </div>
    </div>

    <div class="row">
        <hr />
        <div class="review-block">
            @foreach (var rating in Model.product.PagedRating.Items)
            {
                @await Component.InvokeAsync("RatingComponent", rating)
            }
        </div>
        @{
            var prevDisabled = !(Model.product.PagedRating.CurrentPage > 1 )? "disabled" : "";
            var nextDisabled = !(Model.product.PagedRating.CurrentPage < Model.product.PagedRating.TotalPages )? "disabled" : "";
        }
        <ul class="pagination">
            <li class="page-item">
                <a  asp-page="/Products/Detail" 
                    asp-route-pageIndex="@(Model.query.Page-1)"
                    class="btn btn-primary @prevDisabled">
                    Previous
                </a>
            </li>
            @foreach (var item in Model.product.PagedRating.PageRange)
            {
                var isActive = @Model.product.PagedRating.CurrentPage == item ? "active" : "";
                <li class="page-item @isActive">
                    <a  asp-page="/Products/Detail" 
                        asp-route-pageIndex="@item"
                         class="btn btn-primary">
                        @item
                    </a>
                </li>
            }
            <li class="page-item">
                <a  asp-page="/Products/Detail" 
                    asp-route-pageIndex="@(Model.query.Page+1)"
                    class="btn btn-primary @nextDisabled">
                    Next
                </a>
            </li>
        </ul>
    </div>
</div>
@section scripts {
<script src="https://unpkg.com/xzoom/dist/xzoom.min.js"></script>
<script>
    $(document).ready(() => {
        $('.xzoom, .xzoom-gallery').xzoom({
            position: 'lens',
            sourceClass: 'xzoom-hidden',
            defaultScale: -0.5,
        });
    })
</script>
}
@{
    void ratingStars(double val)
    {
        for (var i = 0; i < 5; i++)
        {
            if (val - i >= 1)
            {
                <span><i class="fas fa-star"></i></span>
            }
            else if (val - i > 0 && val - i < 1)
            {
                <span><i class="fas fa-star-half-alt"></i></span>
            }
            else
            {
                <span><i class="far fa-star"></i></span>
            }
        }
    }
}
