@page "{id:int?}"
@{
    ViewData["Title"] = "Product Detail";
}
@model RookiesFashion.ClientSite.Pages.Products.DetailPageModel;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<div class="container">
    <div id="breadcrumb">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                <li class="breadcrumb-item"><a href="/">Sản phẩm</a></li>
                <li class="breadcrumb-item active" aria-current="page">@Model.product.Name</li>
            </ol>
        </nav>
    </div>
    <div class="RF-detail-container">
        <div class="RF-image-detail">
            <div class="xzoom-container">
                <img class="xzoom thumbails" src="@Model.product.Thumbnail.First().Url"
                    xoriginal="@Model.product.Thumbnail.First().Url" title="@Model.product.Thumbnail.First().ImageName"
                    width="900">
                <div class="xzoom-thumbs">
                    @foreach (var image in Model.product.Thumbnail)
                    {
                        <a href="@image.Url"><img class="xzoom-gallery xactive" width="80" src="@image.Url"
                            title="@image.ImageName"></a>
                    }
                </div>
            </div>
        </div>
        <div class="RF-infor-detail">
            <div id="name">@Model.product.Name</div>
            <div id="rating">
                <div class="asddd">
                    <div class="rating-stars">
                        @{
                            ratingStars(Model.product.AvgRating);
                        }
                    </div>
                    <div class="rating-value">
                        @Model.product.AvgRating/5
                    </div>
                </div>
                <a class="rating-reviews" href="#RATING_SECTION">
                    <span id="numbers">@Model.product.Ratings.Count()</span>
                    <span> reviews</span>
                </a>
            </div>
            <hr>
            <div id="color">
                <div class="title">Clolor</div>
                <div class="warpper">
                    @foreach (var item in Model.product.Colors)
                    {
                        <div id="item" data-id="{{this._id}}" data-productid="{{../data._id}}"><img id="image"
                            src="@item.Thumbnail.Url"><span>@item.Name</span></div>
                    }
                </div>
            </div>
            <div id="size">
                <div class="title">Size</div>
                <div class="warpper">
                    @foreach (var item in Model.product.Sizes)
                    {
                        <div id="item" data-id="{{this._id}}" data-productid="{{data._id}}"><span>@item.Name</span></div>
                    }
                </div>
            </div>
            <div id="quantity">
                <div class="title">Quantity</div>
                <div class="warpper">
                    <button class="btn btn-outline-secondary btn-minus"><i class="fa fa-minus"></i></button>
                    <input id="value" type="number" value="0">
                    <button class="btn btn-outline-secondary btn-plus"><i class="fa fa-plus"></i></button>
                </div>
            </div>
            <hr>
            <div class="RF-order-section">
                <div id="price">
                    <div class="warpper">
                        <div id="value">
                            <span id="true"><span id="currency">$</span> @Model.product.Price</span>
                        </div>
                    </div>
                </div>
                <div id="add-cart">
                    <button data-productid="@Model.product.ProductId"><i class="fas fa-cart-plus"></i> Add to
                        cart</button>
                </div>
            </div>
            <hr>
            <div id="infor-bellow">
                <span><i class="fas fa-shipping-fast"></i> Free shipping</span>
                <span><i class="far fa-handshake"></i> Cash On Delevery (COD)</span>
            </div>
            <hr>
            <div id="description">
                <div class="title">Description</div>
                <div class="warpper">
                    @Model.product.Description
                </div>
            </div>
        </div>
    </div>
    <hr>
    <a id="RATING_SECTION"></a>
    <div class="row">
        <div class="col-6 ">

        </div>
        <div class="col-3">
            <div class="rating-block">
                <h4>Average user rating</h4>
                <h2 class="bold padding-bottom-7">@Model.product.AvgRating <small>/ 5</small></h2>
                @{
                    ratingStars(@Model.product.AvgRating);
                }
            </div>
        </div>
        <div class="col-3">
            <h4>Rating breakdown</h4>
            @for (var i = 5; i >= 1; i--)
            {

                <div class="rating-bar">
                    <div class="pull-left">
                        <div style="height:9px; margin:5px 0;">@i <span><i class="fas fa-star"></i></span></div>
                    </div>
                    <div class="rating-progress">
                        <div class="progress" style="height:9px; margin:8px 0;">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="@i"
                            aria-valuemin="0" aria-valuemax="5" style="width: @(Model.product.CalPercentage(i))%">
                                <span class="sr-only">@(Model.product.CalPercentage(i))%</span>
                            </div>
                        </div>
                    </div>
                    <div class="pull-right">@(Model.product.CountRating(i))</div>
                </div>
            }
        </div>
    </div>

    <div class="row">
        <hr />
        <div class="review-block">
            @foreach (var rating in Model.product.Ratings)
            {
                @await Component.InvokeAsync("RatingComponent", rating)
            }
        </div>
    </div>
</div>
@section scripts {
<script src="https://unpkg.com/xzoom/dist/xzoom.min.js"></script>
<script>
    $(document).ready(() => {
        $('.xzoom, .xzoom-gallery').xzoom({
            position: 'lens',
            sourceClass: 'xzoom-hidden',
            defaultScale: -0.5,
        });
    })
</script>
}
@{
    void ratingStars(double val)
    {
        for (var i = 0; i < 5; i++)
        {
            if (val - i >= 1)
            {
                <span><i class="fas fa-star"></i></span>
            }
            else if (val - i > 0 && val - i < 1)
            {
                <span><i class="fas fa-star-half-alt"></i></span>
            }
            else
            {
                <span><i class="far fa-star"></i></span>
            }
        }
    }
}
